@media screen and (max-width: 767px) {
	
	/** comman elements in entire website **/
	
	h1 {font-size: 30px;}
	
	h3 {font-size: 24px;line-height: 34px;}
	
	h4 , .lp-fnt-26, .lp-our-projects-wrapper .lp-handcrafted-heading p, .lp-clint-center-wrapper h4{font-size: 18px;line-height: 30px;}
	
	p {font-size: 14px;line-height: 24px;}
	
	.lp-mble-profile img{margin:0 auto !important;}
	
	.lp-pad-60 {padding: 30px 0 45px;}

	.lp-padding-tp60{padding-top:35px;}
	
	.lp-padding60, .lp-our-projects-wrapper .lp-career-details{padding: 35px 0;}
	
	.lp-padding60 {padding: 35px 0;}
	
	.pull-right {float: none !important;}
	
	.lp-padding-rgt {padding-right: 15px;}

	/**.lp-padding-lft0{padding-left:15px;}**/
	
	.lp-padding-rgt0, .lp-are-ready p{padding:0;}
	
	.input{margin:0.2em 0;}
	
	.visible-item-pading{margin-left:10px !important;}

	/** video background **/
	
	#lp-video-heading h1{font-size: 1em; line-height:42px;}
	
	.lp-video-wrapper{background: url('../img/mobile_banner.jpg') center center no-repeat;}

	.lp-video-wrapper .lp-content-table{background: none; background-color: rgba(0 ,0 ,0 ,0.4);position: relative;}

	.lollypop-pattern-bg{
	 	display: none;
	}

  /** menu-sidebar css **/

	.lp-header-wrapper #lp-header-menu .nav-toggle	{
		float: right;
		margin: 15px 15px;
		color: #fff;
	}
	.lp-header-wrapper #lp-header-menu.on .nav-toggle, .lp-header-wrapper #lp-header-menu .nav-toggle.lp-mobile_amberg, .lp-mobile_text-brand .navbar-brand .lp-mobile-span {
		color:#333;
	}
	.navbar-default #lp-header-menu .navbar-header .nav-toggle{
		font-size: 20px;
	}
	.menu{
		padding: 20px 30px;
		width: 320px;
	}
	.lp-sidebar-wraper{
		margin: 20px 0 5px 0;
	    border:0;
	}
	.fa-times{
	 	margin: 5px 0;
	}
	.menu .lp-siderbar-top-wrapper{
		margin: 0 0 0 0;
	}
	.menu .lp-siderbar-top-wrapper li{
		font-size: 18px;
    	padding-bottom: 15px;
	}
	.menu .lp-sidebar-bottom-wrapper{
		margin: 15px 0 15px 0;
	}

	.footer-wraper{
	  padding: 15px 5px;
	}
	.sub-footer{
		text-align: center;
	}
	.lp-footer-brdr{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.lp-footer-brdr .lp-sidebar-icons{
		margin: 40px 0;
	}
	.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram{
		margin: 0 14px 0 14px;
	}

	/** animation for amberg **/
			
	.navbar-default.on .navbar-brand .lp-on-img{display: none;}
	
	.navbar-default.on .navbar-brand .lp-mobile-span{color:#f05568;}
		
	.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
	
	.navbar-default .navbar-collapse, #lp-header-menu.navbar-default .navbar-nav > li > a{background: #ffffff; color:#333 !important;}
	
	.navbar-default.on .navbar-toggle .icon-bar, .navbar-default.on:hover .navbar-toggle .icon-bar, .lp-main-our-wrapper .navbar-default .navbar-toggle .icon-bar, .lp-main-our-wrapper .navbar-default .navbar-toggle:hover .icon-bar{background-color: #f05568;}
	
	#lp-header-menu{padding: 15px 0;}
	
	#lp-header-menu .navbar-header .navbar-brand {padding: 0 15px; margin:0;}
	
	#lp-header-menu .navbar-header .navbar-brand > .lp-img{display: inline-block; vertical-align: middle;}
	
	#lp-header-menu .navbar-header .navbar-brand .lp-mobile-span{font-size: 16px !important; padding-left:10px !important; display: inline-block !important;}
	
	#lp-header-menu .navbar-header .navbar-toggle {border: none;background: transparent !important;background: transparent !important;}
	
	.navbar-header .navbar-toggle .icon-bar {width: 22px;transition: all 0.2s;}
	
	#lp-header-menu .navbar-toggle .top-bar {transform: rotate(45deg);transform-origin: 10% 10%;}
	
	#lp-header-menu .navbar-header .navbar-toggle .middle-bar {opacity: 0;}
		
	.ns-prod-section {padding: 0px;}
	
	.ns-prod-img1, .ns-prod-img2, .ns-prod-img3 {margin: 10px 10px;}**/
	
	.navbar-collapse collapse in {background: #333;}
	
	#lp-header-menu.navbar-default .navbar-nav > li > a, #lp-header-menu.navbar-default .lp-left-wrapper > li{margin: 10px 15px;}
	
	#lp-header-menu.navbar-default .navbar-nav > li > a:hover{color:red !important;}
	
	/** white-box section css start **/
		
	.lp-faclr-section .pull-right {float: none !important;}
	
	.lp-faclr-section {padding: 10px;}
	
	.lp-we-do h4 {margin: 15px 0 30px;}
	
	.lp-all-devices .lp-web {border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;border-left: none;border-right: none;margin: 10px 0 20px;padding: 20px 0;}
	
	.lp-mobile h6, .lp-web h6, .lp-all-devices h6 {margin: 15px 0;}
	
	/** our-latest project **/
			
	.lp-latest-work_pannel .lp-our_latest {padding: 20px 0 0 0; text-align: center;}
	
	.lp-our_latest .lp-right_wrapper{padding: 1em 1.5em 0 1.5em;}
	
	.lp-latest-work_pannel .circular-btn{margin:20px auto 15px auto;}
	
	.lp-mobile-meion{color:#fff; padding:5px 0 5px 0;}
	
	/** whats cooking **/

	.lp-all-devices p {margin: 0 30px;}
	
	.lg-cooking {height: 386px;}
	
	.lp-sub-box {margin: 0 15px;padding: 0;}
	
	.our-blog .cards{min-height:auto; margin-bottom:20px;}

	.blog-details{padding:20px;}

	.lp-heading{margin-bottom:30px;}

	.lp-margin-tp280{margin-top: -281px;}

    /** SNEAK-PEAK **/

	.lp-sm_blog-card, .lp-latest-work_pannel .lp-our_latest, .lp-awrds{
	 -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
	}
	.lp-sm_blog-card img{
		width: 100%;
	}
	 .lp-grid_blog-cards li:nth-child(3) .lp-sm_blog-card {
		height: auto;
	}
	.lp-blog_boxes-section .row {
		margin: 0;
	}
	.lp-grid_blog-cards {
	    margin: 0 5px;
	}	

	/** video section **/

	.lp-video{height: 310px;}

	.lp-sub-box .lp-video-banner{background-position: center center;height:250px;}
	
	.lp-sub-box .lp-video-banner h4{font-size: 16px;}

	.lp-video-banner .fa-play{padding: 10px 10px 10px 13px;font-size: 12px;}

	.lp-sub-box .lp-video-banner h4{margin: 5px 0;}

	.lp-video-box{padding: 1em 2em;}

	/** pattern background **/

	.lp-pattern_circles{
		height: 160px;
	 }
	.lp-prodcut_fileds p{
	  margin: 10px 30px 20px 30px;
	}	

	/** few clients **/

	.lp-client-section h4 {margin: 14px 10px 0;}

	.lp-nav_block {	  
	   flex-wrap: wrap;
	   -webkit-flex-wrap: wrap;
	   -moz-flex-wrap: wrap;
	   -ms-flex-wrap: wrap;
		padding: 40px 0 10px 0;
	}

	.lp-loving_clients-list li{
		margin: 0 35px;
	}
	
	.lp-nav_block li {
	  margin: 0px 10px;
	}

	/** awards pannel **/

	.lp-awrds {
	padding: 25px 0 10px 0;
	}

	.lp-awrds li{
		padding-bottom: 25px;
		border-image: none;
		border: none;
	}
	
	
	
	/**.lp-sub-box .lp-client-brands li {margin: 10px 12px;}**/
	
	.lp-client-details h5 {line-height: 26px;font-size: 16px;margin: 0;}
	
	.lp-up-next {padding: 3em 0 3em 0;}
	
	/**.lp-sub-box .lp-mobile-clients li a{height: 60px; width:100%; padding:10px 0;}**/

	.lp-sub-box .lp-client-details{padding:20px 0 35px; 0;}

	.lp-sub-box .lp-client-details span{font-size: 12px;margin: 15px 0;}

	
	/** footer css start **/

	.lp-footer{
	    padding-bottom: 15px;
	}
		
	.lp-footer, .lp-footer .lp-left-wrapper, .lp-right-wrapper, .lp-blog-flex{
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
	}
	.lp-footer .lp-left-wrapper .lp-footer-logo{
		margin-bottom:15px;
	}
	.lp-footer .lp-right-wrapper .al-footer-links{
		text-align: center;
		margin: 20px 0px;
	}
	.lp-footer .lp-right-wrapper .al-footer-links li a{
		margin:0 5px;
	}
		
	.lp-footer-brdr .lp-mobile-icons { margin: 15px 0 0;}

	
	/*
	 ========================================================================
	 our work css start
	 ------------------------------------------------------------------------
	 */
	/** heading css **/
		
	.lp-our-projects-wrapper .lp-handcrafted-heading{margin-bottom: 40px; padding:0 20px;}

	.lp-our-projects-wrapper .atom-work-item{padding-left: 15px;}
		
	.lp-our-projects-wrapper h1 {margin-bottom: 35px;}
	
	.lp-our-projects-wrapper {padding: 110px 0 0 0;}
	
	.lp-abt-box .atom-work-item {padding-left: 15px; display: flex;}

	.lp-abt-box .atom-work-item a{width: 100%;}
	
	/** you are up next **/

	.lp-our-projects-wrapper .lp-up-next {padding-top: 42px;}
	
	/*
	 ========================================================================
	 About css start
	 ------------------------------------------------------------------------
	 */
	.lp-sub-box #atom-works-grid .atom-work-item {/**margin-bottom: 15px;padding-right: 15px;**/ margin-bottom:2px; padding-right:0; padding-left:0;}
	
	.lp-sub-box #atom-works-grid .atom-work-item .hover-item img {width: 100%;}
	
	.lp-sub-box #atom-works-grid .lp-project-name span {font-size: 12px;}
	
 	.lp-abt-box #atom-works-grid .lp-project-name .lp-employee-thumbnail {left:10px; bottom:10px;}
	
	.lp-abt-lollypop p, .lp-career-lollypp p{margin:35px 0;}	

	.lp-sub-box #atom-works-grid .lp-project-name p {font-size:10px;}

	/** our culture **/
	
	.lp-our-culture .lp-content-table {height: 280px;}
	
	.lp-our-culture {padding: 30px;}

	.lp-our-culture .lp-bg-brand{background:#fff; color:#999;}

	.lp-our-culture .button--ujarak{color:#f05568; border-color:#f05568;}

	.lp-our-culture .button--ujarak::before{background:#f05568;}

	.lp-our-culture .button--ujarak:hover{color:#fff;}
	
	.lp-abt-box .lp-up-next{padding:25px 0 50px 0;}

	.lp-advisors-left .media-body p{margin-right:0; line-height:24px;}
	
	/** tab-details **/

	.lp-client-content .nav-tabs > li{margin: 0 8px 0 0;}
	
	.lp-abt-heading{padding:0 22px;}
		
	.tab-content{padding:15px 0 0 0;}
	
	.tab-content .media h4, .tab-content .media .media-body a .lp-clr-pink {font-size: 16px; line-height: 26px;}
	
	.tab-content .media .media-body{float: left;text-align: center;width: auto; padding:20px 0;}
	
	.tab-content .media .media-left{display: inherit; padding:0;}
	
	.tab-content .media .media-left img.media-object{margin: 0 auto !important;width: auto !important;}
	
	/** gallery section start **/
		
	.lp-gallery	{padding-bottom:20px;}
				
	.lp-career-gallery1	 {margin:0 0 10px 0;}
		
	.lp-gallery	{padding:0 15px 50px 15px;}
		
	.lp-career-gallery12{margin-bottom:10px;}
	
	/** footer details **/

	.lp-sub-box .lp-footer {padding: 50px 0 !important;}

   /** about single person-details **/

	.lp-banner_mobile-contain, .ns-about-banner-wrapper, .ns-process-banner-wrapper, .ns-clients-banner-wrapper, .ns-contact-banner{background-size: contain !important; background-color: #fff !important; padding-top: 44% !important; height: auto !important;}
	
	.lp-main-wrapper .ns-about-banner-wrapper{padding-top:42%;}
	
	.lp-about-video, .ns-contact-banner .lp-content-table, .lp-banner_mobile-contain .lp-content-table{height: auto; background: #fff; padding-top:35px;}

	.lp-main-wrapper .lp-about-video h1, .ns-contact-banner .lp-banner-heading h1 {color:#333; margin-bottom: 0; font-size: 26px;}

	.lp-staff-profile_pannel{background: none;color: #333; height: auto; padding-bottom:0;}

	.lp-staff-profile_pannel h2{color: #333; font-size:26px;letter-spacing: -2px;}

	.lp-staff-profile_pannel article{padding-top:15px;}
	
	/** blog-banner box **/

	.lp-banner_mobile-contain .lp-article-person{text-align: center;margin:15px 0;}
	
	.lp-banner_mobile-contain .lp-content-table{padding-top:15px;}

	/** play-button icon **/

	.lp-about-video .fa-play{color:#e94e61; border-color:#e94e61;}

		/*
	 ========================================================================
	contact css start
	 ------------------------------------------------------------------------
	 */
	 .lp-mble-cnt-infrmation{margin:0 30px;}
	 
	 .lp-main-wrapper .lp-contact-list-items li{ display: inherit; padding: 10px 0;}

	 .lp-main-wrapper .lp-contact-list-items{padding: 0px 30px 20px; margin-top: 10px;}

	 .lp-main-wrapper .lp-contact-list-items li a{font-size: 14px;}

	 .lp-contact-map .lp-mobile-map{margin:0 20px; padding:0 !important;}

	 .lp-main-wrapper .lp-drop-line{padding:35px 0 60px 0;}
	 
	 .lp-mble-inbx .lp-padding-lft0, .lp-mble-inbx .lp-mble-pading{padding:0;}

	 .lp-main-wrapper .lp-contact-map{height: 350px;}

	 .lp-main-wrapper .lp-contact-map .lp-contact-address h5, .lp-main-wrapper .lp-contact-map .lp-map-heading{font-size: 16px;}

	 .lp-main-wrapper .lp-contact-map .lp-contact-address{padding:10px 20px; font-size: 14px; line-height: 24px;}

	 .lp-main-wrapper .lp-contact-map .lp-map-heading{padding:10px 20px;}
	 
	  /*
	 ========================================================================
	Career css start
	 ------------------------------------------------------------------------
	 */
	.lp-mble-cover{width: 100%;}
	
	.lp-are-ready .lp-job-links{ padding-bottom: 15px; border-bottom:1px solid #ececec;}
	
	.lp-are-ready  .lp-padding60{padding-bottom: 0; padding-top:15px;}
	
	.lp-are-ready h5, .lp-right-wrapper-cnt h5{font-size: 16px;}
	
	.lp-careers-testimonials_box{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
	
	.lp-right-wrapper-cnt{padding:12% 8% 12% 8%;}

	.lp-career-cnt-clear{margin-bottom:28px;}
	
	.lp-right-wrapper-cnt h5{margin:10px 0; line-height: 24px;}
	
	.fadein {height: 600px !important; overflow: hidden;}
	
	.lp-right-wrapper-cnt h5{}
	/*
	 ========================================================================
	Career-details css start
	 ------------------------------------------------------------------------
	 */
	
	.lp-career-details .lp-article-content p, .lp-career-details .lp-article-content ul{ margin: 20px 0 25px;}
	
	.lp-career-details .lp-article-right-wrapper{padding: 40px 20px 0;}
	
	.lp-career-details .lp-article-right-wrapper .button{padding: 0.6em 1.6em !important;}
	
	.lp-career-details .lp-article-content ul li{font-size: 14px; line-height: 24px;}
	
	.lp-career-details .lp-article-right-wrapper .lp-apply-now{margin: 20px 15px;}
	/*
	 ========================================================================
	staff-details  css start
	 ------------------------------------------------------------------------
	 */	
	 
	 .ns-staff-banner-blr .lp-staff-cnt-box{padding: 20px 20px 25px;}
	 
	 .ns-staff-banner-blr .lp-staff-cnt-box .lp-cookies-items li{font-size: 14px;}
	 
	 .ns-staff-banner-blr .lp-staff-cnt-box{margin: 6%;}
	 
	.lp-mble-staff .lp-article-content{padding-right:15px;}
	 
	.lp-article-right-wrapper, .lp-staff-padding .lp-prev_btn-section li {padding:0px;}
	 
	.lp-staff-padding .lp-article-right-wrapper h6{margin:10px 0;}
	 
	.lp-mble-profile{margin-top:35%;}
	
	.lp-mobile-staf-blg .lp-clint-left-wrapper{ text-align: center; padding:0 0 15px 0; border-bottom:1px solid #dedede;}
	
	.lp-staff-padding .lp-clint-left-wrapper{padding:0; text-align:left;}

	.lp-clint-right-wrapper{text-align: right; padding-left:0;}
	
	.lp-brder-rght{border-right:none;}
	
	.lp-staff-padding .lp-prev_btn-section{border-top: 1px solid #dedede;margin:40px 15px 0 15px;}
		
	.lp-staff-padding .lp-prev_btn-section li:nth-child(3).lp-brder-lft{border-left:none;}
	
	.lp-staff-padding{padding:35px 0 20px 0 !important;}
	
	/*
	 ========================================================================
	blog css start
	 ------------------------------------------------------------------------
	 */
	.lp-blog-banner-box{ margin-top: 0;}
	 
	.lp-blog-banner-box h2{font-size: 20px;margin: 18px 0 5px !important;}
	
	.lp-blogs-section .lp-blog-thumbnail .lp-aside, .lp-blogs-section .lp-blog-thumbnail{padding-bottom:20px;}
	
	.lp-blogs-section .lp-aside span{font-size:16px; line-height: 26px; margin:10px 30px 6px 0;}
	
	.lp-blogs-section .lp-aside p{line-height: 22px;}
	
	.lp-blog-pagination{padding-bottom: 60px;}

	/** pagination **/

	.pagination{margin-left:0;}
	
	.lp-pagination-wrapper .pagination > li > a .fa-angle-left, .lp-pagination-wrapper .pagination > li > a .fa-angle-right{font-size: 18px;}
	
	.lp-pagination-wrapper .pagination > li > a{font-size: 12px;  padding: 10px 11px;}
	
	.lp-blg_left-wrapper .lp-blog-socila-icons{margin-top:10px;}
	
	.lp-blg-details{padding-bottom: 20px;}
	
	.lp-blg_left-wrapper{border-right:none; border-bottom:1px solid #eaeaea; padding:0 0 30px 0; margin-bottom:30px;}
	
	.lp-blog_details-article p{font-size: 14px; line-height: 22px; margin-bottom:15px;}
	
	.lp-blog_details-article{ padding: 0 15px;}
	
	.lp-blog_details-article span{ font-size: 16px; line-height: 26px;}
	
	.lp-blog_details-article .lp-blog-span{margin-bottom:15px;}
	
	.lp-blog_details-article .lp-blog-img{ margin: 25px 0;}
	
	.lp-blog_details-article h5{margin: 25px 0 15px;}
	
	.lp-blog-details-section{padding-bottom: 50px;}

	/*
	 ========================================================================
	 common elements all the pages css 
	 ------------------------------------------------------------------------
	 */

      /** home page **/
		 
	.lp-main-wrapper .lp-banner-wrapper, .lp-main-wrapper .ns-about-banner-wrapper, .lp-main-wrapper .ns-contact-banner, .lp-main-wrapper .ns-process-banner-wrapper, .lp-main-wrapper .lp-blog-wrapper, .lp-main-wrapper .ns-project-banner, .lp-main-wrapper .newyear-resolution-banner, .lp-main-wrapper .ns-clients-banner-wrapper, .lp-main-wrapper .lp-health_career-banner{height:450px;}

	.lp-main-wrapper .lp-banner-heading p{margin: 10px 0 25px 20px;}

	.lp-footer .lp-footer-brdr .lp-pad-30{display:block; margin:5px 0 5px 0;}
		
	/** about page **/

	.lp-abt-heading{padding:25px 15px 30px 15px;}

	.lp-abt-heading .media-body{width:auto;}

	.lp-abt-heading .media-body, .lp-abt-heading .media-left{display:inline-block;}

	.lp-abt-heading ul li .media-body, .lp-advisors-left .media-body{padding:0;text-align: center;margin-top: 25px;}

	.lp-abt-heading ul li .media-body h5{font-size:16px;}

	.lp-abt-heading ul li{margin: 35px 0px 15px 0;}
	
	.lp-abt-heading ul li:nth-child(3){margin:0;}

	.lp-client-review .lp-client-content{padding-top:35px;}

	.lp-advisors-section .lp-we-do{margin: 30px 0 10px 0;}

	.lp-advisors-left{margin:0;}

	.lp-advisors-left .media{margin-bottom:20px;}

	.lp-advisors-section .media-heading{margin-top:20px;}
	
	.lp-advisors-section .media-left{display:block;}

	.lp-advisors-section .media-left img{margin:0 auto;}

	.lp-advisors-left .lp-footer{padding:15px 0;}

	/** latest-blog responsive code **/

	.lp-responsive-video{
		max-width: 100%;
		height: auto;
	}
		
	/** about blog image **/

	.lp-blogs-section .lp-blog-thumbnail{margin-bottom:20px;}

	.lp-abt-heading .lp-mobile-advanatage{margin:15px 0 35px;}

	/** career page css for rotating animation **/

	.lp-we-do h4, .lp-are-ready h4, .lp-our-wall h4{margin: 10px 30px 30px 30px;}

	.lp-padding-btm{padding-bottom:45px;}

	.lp-career-banner-box{padding:0;}

	.lp-career-banner-box .cd-words-wrapper{width:280px !important;}

	.lp-career-banner-box .cd-words-wrapper b{font-size:16px; width:280px !important;}

	/** blogs withthumbnails css **/

	.lp-blog-thumbnail .media-left {display:table-cell;}

	.lp-blogs-section .col-md-4{height:auto;}

	.lp-blogs-section .lp-aside p, .lp-blogs-section .lp-aside span{min-height: auto;}



	/** clients page css **/
	
	.lp-clientbrands-section {
		margin: 35px auto 10px auto;
	}

	.lp-clientbrands-section li:nth-child(even) {
		border-right: 0;
	}

	.lp-clientbrands-section li:nth-child(1) {
		border-top: 0;
	}

	.lp-clientbrands-section li:nth-child(2) {
		border-top: 0;
	}
	.lp-clientbrands-section li {
		width: 50%;
		height: 100px;
	}

	.lp-clientbrands-section li.top-child {
		border-top-width: 1px;
	}

	.lp-clientbrands-section li.right-child {
		border-right-width: 1px;
	}

	/** sweet clients css **/

	.clients .client-sectn1, .clients .client-sectn2, .clients .client-sectn3 {
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
	}

	.clients .lp-padding0.projects {padding:64px 0;}

	.clients .lp-padding0 .div-content {
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		justify-content: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
	}

	.clients .lp-padding0 .circle {
		height: 80px;
		width: 80px;
		float: none;
		margin-right: 0;
	}
	.clients .lp-padding0.testimonials-col{padding: 25px 20px;}

	.lp-padding0.testimonials-col p{margin-bottom: 25px;}
	
	.lp-padding0.testimonials-col .testimonial-by .owner-name{display:block;}

	.clients .lp-padding0.testimonial-video {
		height: 300px;
	}
	.clients .lp-padding0.testimonials-col .quote-img {
		margin-bottom: 20px;
	}
	.clients .lp-padding0 .circle {
		margin-bottom: 14px;
	}
	.al-client-location h3 {
		padding: 20px 0;
	}
	.text-content {
		text-align: center;
	}
	.clients .client-sectn1 .headr {margin-bottom: 30px;}
	.al-maping-background {height: auto;}
	
	.lp-brder-lft-e3{border-left:none;}
	
	.numbr{font-size:30px;}

	/** clients industry css **/

	.al-clients-video .al-right-wrapper{
		padding:40px;
	}	
		
	.al-display-flex, .al-client-box{
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
	}
	.al-client-box{
		 margin-bottom: 30px;
	}
	.lp-client-industry .lp-fileds .lp-left-wrapper{
		padding:0;
		border-bottom: 1px solid #e3e3e3;
		border-right:0;
		text-align: center;
	}
	.lp-left-client-industries{
		display: block;
		min-height:auto;
		margin-bottom:15px;
	}
	.lp-left-client-industries:after{
		top:inherit;
		bottom: -18%;
		transform: rotate(135deg);
		right:0;
		left:48%;
	}
	.lp-client-industry .al-filed-information{
		padding-left:0;
		text-align: center;
	}
	.lp-fileds{padding-bottom:20px;}

	.al-circle{height: 5px;width: 5px;}
	
	/** clients page css end **/

	
   /** Indian-healthcare clients-brand **/

	.lp-client_brands_ih .lp-clientbrands-section li{width:50%;}


	/** Indian-healthcare clients-brand end  **/

	/** process page lollypop process box css **/

	.lp-padding50{padding:30px 0;}

	.lp-our-process figure .lp-logo-img{margin:30px 0 30px 0;}

	.lp-our-process .lp-process-heading span{font-size:18px;}

	.lp-our-process .lp-aside p{line-height:22px; margin: 5px 0px 0px 0px;}

	.lp-our-process .lp-aside{padding: 15px 25px 0 25px;}

	.lp-our-process .lp-discover, .lp-our-process .lp-Define, .lp-our-process .lp-Design{min-height: auto;}

	.lp-we_work h4{margin:20px 25px 0 25px;}

	.lp-our-process .lp-sub-heading{margin: 15px 25px 35px 25px;}

	.lp-partner-left{margin-bottom:30px;}

	.lp-process-content p{margin-top:35px;}

   /** project-enquiry project boxes css **/

	.cbox{/**margin:0 auto 10px auto;width: 100%; float:none;**/}

	.lp-contact-enquiry .lp-enquiry-btn span{display: block;margin: 20px 0; padding-left:0;}

	.lp-contact-enquiry .content{padding: 20px 0 30px 0;}

	.content .col-md-6{padding:0;}

	.input{margin:0;}

	/** project enquiry boxes **/

	.lp-form{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-pack: distribute;justify-content: space-around;}

	.cbox{margin-left:10px;}

	input#thing1[type="checkbox"] + label, input#thing1[type="checkbox"]:checked + label, input#thing2[type="checkbox"] + label, input#thing2[type="checkbox"]:checked + label, input#thing3[type="checkbox"] + label, input#thing3[type="checkbox"]:checked + label, .cbox{height:100px; width:95px;}

	input#thing1[type="checkbox"] + label, input#thing2[type="checkbox"] + label, input#thing3[type="checkbox"] + label{background-size: 50px 30px;background-position: center 25px}

	input#thing1[type="checkbox"]:checked + label, input#thing2[type="checkbox"]:checked + label, input#thing3[type="checkbox"]:checked + label {background-size: 50px 30px, 18px 18px;background-position: center 25px, 5px 3px;}

	.cbox span{bottom: 12px; font-size:10px;}

	/** project enquiry boxes end **/

	.lp-contact-enquiry .input{width:100% !important;}

	.lp-contact-enquiry .content{padding: 0px 0 20px 0;}

	.lp-contact-enquiry .input{margin: 0.5em 0;}

	.lp-form{padding-bottom:35px;}

	.lp-project-sucess .lp-sucess-request{margin:10px 0 10px 17px;}

	/** for scroll to top css **/

	.apst-button::before{border-width: 2px;height: 10px;left: 10px;top: 13px;width: 10px;}

	/** project-details **/

	.lp-project-designs .lp-padding60 {padding:0;}

	.lp-article-content .media .media-left{display:intial;}

	.lp-project-designs .lp-article-right-wrapper .lp-project-details li h6{margin-top:10px;}

	.lp-project-designs .lp-article-content{padding:15px 0 10px 0;}

	.lp-project-designs .lp-article-right-wrapper{border-left:none; padding: 0px 0px 10px 0; border-bottom: 1px solid #eaeaea;margin:25px 0 20px 0;}
		
/** our numbers for healthcare-industry **/
	
.lp-heading_bold h2{
	font-size: 24px;
	line-height: 32px;
}			
.lp-health-our_nmbers li:first-child, .lp-health-our_nmbers li:nth-child(2), .lp-health-our_nmbers li:last-child{
	width: 100%;
}
.lp-health-our_nmbers li h1{
	font-size: 50px;
	line-height: 40px;
	margin-bottom: 6px;
}
.lp-health-our_nmbers li:nth-child(2), .lp-health-our_nmbers li:last-child{
	border-top: 1px solid #6dcce3;
}
.lp-health-our_nmbers li:first-child{
	text-align: center;
	padding: 45px 20px;
}
.lp-health-our_nmbers{
	margin-top:0;
	-webkit-transform: translateY(-100px);
	transform: translateY(-50px);
}
.lp-flex_center	.lp-article_section {
	text-align: center;
	margin: 2em 2em;
}
.lp-health-our_nmbers li{
	padding: 40px 15px;
}
.lp-our_huge-number h5{
	margin: 0 0.5em;
	font-size: 16px;
	line-height: 26px;
}

/** healthcare-industry client-section **/

.lp-client-blog_ih{
	font-size: 16px;
	line-height: 24px;
}		
.lp-pattern_circles_ih{
	padding: 55px 20px;
}	
		
.lp-client-blog_ih .lp-right-wrapper_ih{
	padding: 60px 25px 40px 25px;
}

/** changing healthcare **/

.lp-inline_block-ih li:nth-child(1)::after, .lp-inline_block-ih li:nth-child(1)::before{
	display: none;
}
.lp-inline_block-ih{
	margin: 30px 0 40px 0;
}
.lp-inline_block-ih li{
	border-right: none;
}		
.lp-inline_block-ih li	{
	padding: 30px 15px 30px 15px;
}

/** surgeon **/
	
.slt-testimonial_box .lp-mobile_ih{
	margin-top:60px;	
}
	
.screen-navigations .circular-anim::before	{
	display: none;
}
.screen-navigations .slider-navs {
	width: 100%;
	left: 0%;
}

/** fundamental issues **/
	
.lp-sub_heading-ih{
	padding-bottom: 0;
}
.lp-health-our_nmbers, .lp-mobile-section .slt-testimonial_box, .lp-ih_client-block {
	flex-direction: column;
}

/** walk and the talk **/

.lp-inline_block-ih li:nth-child(3n){
	border-bottom: 1px solid #e5e5e5;
}
	
.lp-inline_block-ih li h5{
	font-size: 16px;
}	
	
.lp-information_ih .lp_process_done{
	padding-top: 0px;
}	

.lp-inline_block-ih li:nth-child(2n){
	padding-right:15px;
}

.lp-inline_block-ih li:nth-child(3n), .lp-inline_block-ih li:nth-child(4n){
	padding-top: 30px;
}
		
/** walk and the talk end **/	
	
.lp-client_box .lp-we-do{
	padding-top:25px;
}	
.lp-client_box .lp-we-do h5{
	margin-bottom: 0px;
}
.lp-health-care_section .lp-right_wrapper{
	padding: 3em 0 2em 0;
	text-align: center;
}
.lp-media-img_objet img{
	margin-bottom: 15px;
}
.lp-video_ih{
	margin: 2em;
}
	
/** what we do end **/	
	
/** mobile illustrations **/

.lp-mobile_illustration{
	padding: 3em 0;
}
.lp-mobile_illustration article{
	margin: 1.5em 0 0 0;
}
	
.lp-mobile_illustration.lp-flex_center{
	flex-direction: column-reverse;
}			
.lp-client_box .lp-box_space{
	padding: 0em 1em;
}
.lp-client_box .lp-nav_block{
	padding: 15px 0 25px 0;
}
/**.lp-nav_block li{
	margin: 15px 35px;
}**/
/** clients who work with **/
	
.slt-worked_clients::before{
	height:0;
	background:none
}
.lets-talk{
  height: auto;
}

/** slick-slider **/

.slider-navs{	
	position: relative;
}
		
.slt-testimonial_box .slick-initialized .slick-slide{
	flex-direction: column;
}
				
.image-slider .lp-sub_heading-inner .lp-mobile_ih{
 	margin-top: 0;			
}
.lp-nav_block li img{
	margin:0;
}
.al-edit-tip+ .tooltip > .tooltip-inner span { 
	font-size: 14px !important;
	margin-top: 0 !important;
}
.al-edit-tip+ .tooltip > .tooltip-inner {
	width: 140px;
}
.our-client {
	background-color: transparent !important;
}

.privacy-wrapper h1{
	margin-bottom: 40px;
}

.privacy-wrapper{
	padding-top: 75px;
}

.privacy-wrapper__content-info{
	padding: 40px 10px;
}
.privacy-wrapper__sub-content{
	padding: 15px 0 15px 0;
}

.lst-inline-block__item{
	font-size: 14px;
	line-height: 24px;				
}		

}

/** tablet-screen **/


@media screen and (max-width: 991px) {

	.lp-nav_block li img{
		margin: 10px 10px;
	}
	.lp-abt-heading ul li .media-body{
		padding: 0 10px 0 10px;
	}

	/** healthcare numbers **/
	
	.lp-health-our_nmbers{
		margin-top: -5em;		
	}
	.lp-health-our_nmbers li{
		padding: 30px 10px; 
	}

	.lp-health-our_nmbers li:first-child{
		padding: 35px 30px;
	}
	
	.lp-ih_client-block li:first-child{
		display: flex;			
	} 
	.lp-ih_client-block li:first-child img {	
		object-fit: cover;
		-o-object-fit: cover;
	}
	
}
 @media only screen and (min-width: 992px) and (max-width:1170px){
		
	.lp-our-culture .lp-content-table{
		height: 370px;
	}				
	 .lp-our-culture{		
		padding: 15px 15px 15px 15px;
	  }
 }

@media screen and (max-width: 430px) {
    #lp-header-menu .navbar-header .navbar-brand {
        padding: 0px 10px 15px;
        margin: 0;
        width:80%;
    }
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
